In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
!pip install pandas pandas-ta numpy matplotlib statsmodels pandas_datareader datetime yfinance scikit-learn PyPortfolioOpt

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
Collecting pandas-ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.1/115.1 kB 1.1 MB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /opt/conda/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (3.8.4)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.11/site-packages (0.14.2)
Requirement already satisfied: pandas_datareader in /opt/conda/lib/python3.11/site-packages (0.10.0)
Requirement already satisfied: datetime in /opt/conda/lib/python3.11/site-packages (5.5)
Requirement already satisfied: yfinance in /opt/conda/lib/python3.11/site-packages (0.2.40)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.11/site-packages (1.4.2)
Requirement already satisfied: PyPortfolioOpt in /opt/conda/lib/python3.11/site-packages (1.5.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (1.13.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: lxml in /opt/conda/lib/python3.11/site-packages (from pandas_datareader) (5.2.2)
Requirement already satisfied: requests>=2.19.0 in /opt/conda/lib/python3.11/site-packages (from pandas_datareader) (2.31.0)
Requirement already satisfied: zope.interface in /opt/conda/lib/python3.11/site-packages (from datetime) (6.4.post2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.2.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: cvxpy<2.0.0,>=1.1.19 in /opt/conda/lib/python3.11/site-packages (from PyPortfolioOpt) (1.5.1)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: osqp>=0.6.2 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.6.7)
Requirement already satisfied: ecos>=2 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (2.0.13)
Requirement already satisfied: clarabel>=0.5.0 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.8.1)
Requirement already satisfied: scs>=3.2.4.post1 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (3.2.4.post1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests>=2.19.0->pandas_datareader) (2024.2.2)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.11/site-packages (from zope.interface->datetime) (69.5.1)
Requirement already satisfied: qdldl in /opt/conda/lib/python3.11/site-packages (from osqp>=0.6.2->cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.1.7.post2)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218910 sha256=7a0a64a0c2c0d71d0903a333513b3317d958f40dee04999451b6f7a35aa19c8c
  Stored in directory: /home/jovyan/.cache/pip/wheels/7f/33/8b/50b245c5c65433cd8f5cb24ac15d97e5a3db2d41a8b6ae957d
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [7]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

sp500['Symbol'] = sp500['Symbol'].str.replace('.', '-')

symbols_list = sp500['Symbol']

symbols_list = symbols_list.unique().tolist()

end_date = '2023-09-27'
# print(symbols_list)


start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%%**********************]  503 of 503 completed

3 Failed downloads:
['SOLV', 'VLTO', 'GEV']: YFChartError("%ticker%: Data doesn't exist for startDate = 1443499200, endDate = 1695787200")

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483553   33.740002   34.060001   33.240002   33.360001
           AAL      37.361614   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651138   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334896   52.790001   54.189999   51.880001   53.099998
           ABT      33.478714   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.968475   89.519997   90.849998   89.500000   90.379997
           YUM     122.211006  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547699  176.869995  178.449997  176.270004  176.580002

Price                   volume
date       ticker
2015-09-29 A         2252400.0
           AAL       7478800.0
           AAPL    293461600.0
           ABBV     12842800.0
           ABT      12287500.0
...                        ...
2023-09-26 XYL       1322400.0
           YUM       1500600.0
           ZBH       3610500.0
           ZBRA       355400.0
           ZTS       1463200.0

[988898 rows x 6 columns]

In [8]:
df['garman_klass_vol'] = ((np.log(df['high'])-np.log(df['low']))**2)/2-(2*np.log(2)-1)*((np.log(df['adj close'])-np.log(df['open']))**2)

df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

df['bb_low'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,0])
                                                          
df['bb_mid'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,1])
                                                          
df['bb_high'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.bbands(close=np.log1p(x), length=20).iloc[:,2])

def compute_atr(stock_data):
    atr = pandas_ta.atr(high=stock_data['high'],
                        low=stock_data['low'],
                        close=stock_data['close'],
                        length=14)
    return atr.sub(atr.mean()).div(atr.std())

df['atr'] = df.groupby(level=1, group_keys=False).apply(compute_atr)

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2015-09-29 A        31.483553   33.740002   34.060001   33.240002   33.360001
           AAL      37.361614   39.180000   39.770000   38.790001   39.049999
           AAPL     24.651138   27.264999   28.377501   26.965000   28.207500
           ABBV     36.334896   52.790001   54.189999   51.880001   53.099998
           ABT      33.478714   39.500000   40.150002   39.029999   39.259998
...                       ...         ...         ...         ...         ...
2023-09-26 XYL      88.968475   89.519997   90.849998   89.500000   90.379997
           YUM     122.211006  124.010002  124.739998  123.449997  124.239998
           ZBH     111.782722  112.459999  117.110001  112.419998  116.769997
           ZBRA    223.960007  223.960007  226.649994  222.580002  225.970001
           ZTS     175.547699  176.869995  178.449997  176.270004  176.580002

Price                   volume  garman_klass_vol        rsi    bb_low  \
date       ticker
2015-09-29 A         2252400.0         -0.000998        NaN       NaN
           AAL       7478800.0         -0.000443        NaN       NaN
           AAPL    293461600.0         -0.005712        NaN       NaN
           ABBV     12842800.0         -0.054656        NaN       NaN
           ABT      12287500.0         -0.009402        NaN       NaN
...                        ...               ...        ...       ...
2023-09-26 XYL       1322400.0          0.000016  26.146750  4.488345
           YUM       1500600.0         -0.000051  36.057187  4.811707
           ZBH       3610500.0          0.000099  31.893261  4.748085
           ZBRA       355400.0          0.000133  29.494977  5.400991
           ZTS       1463200.0          0.000062  42.623472  5.156108

Price                bb_mid   bb_high       atr      macd  dollar_volume
date       ticker
2015-09-29 A            NaN       NaN       NaN       NaN      70.913555
           AAL          NaN       NaN       NaN       NaN     279.420040
           AAPL         NaN       NaN       NaN       NaN    7234.162489
           ABBV         NaN       NaN       NaN       NaN     466.641803
           ABT          NaN       NaN       NaN       NaN     411.369698
...                     ...       ...       ...       ...            ...
2023-09-26 XYL     4.570270  4.652196  0.033800 -2.159188     117.651912
           YUM     4.841672  4.871637  0.142547 -1.363696     183.389836
           ZBH     4.787752  4.827420 -0.381708 -0.881067     403.591519
           ZBRA    5.539167  5.677342 -0.057389 -1.600791      79.595386
           ZTS     5.214922  5.273735  0.651515 -1.188279     256.861393

[988898 rows x 14 columns]

In [9]:
last_cols = [c for c in df.columns.unique(0) if c not in ['dollar_volume', 'volume', 'open',
                                                          'high', 'low', 'close']]

data = (pd.concat([df.unstack('ticker')['dollar_volume'].resample('M').mean().stack('ticker').to_frame('dollar_volume'),
                   df.unstack()[last_cols].resample('M').last().stack('ticker')],
                  axis=1)).dropna()

data

                   dollar_volume   adj close  garman_klass_vol        rsi  \
date       ticker
2015-11-30 A          135.992836   39.023174         -0.001992  73.421334
           AAL        287.915792   39.429932         -0.000966  40.718990
           AAPL      4023.983996   26.854134         -0.003307  55.537324
           ABBV       337.563909   40.393520         -0.059549  49.376833
           ABT        211.659055   38.293575         -0.011216  56.962536
...                          ...         ...               ...        ...
2023-09-30 OTIS       154.361754   78.356499         -0.000097  33.116217
           ABNB      1633.500725  132.279999          0.000213  44.494127
           CEG        196.971016  108.026917          0.000171  55.245482
           GEHC       212.275852   66.130219          0.000185  40.922336
           KVUE       670.804280   20.006195         -0.000159  35.706329

                     bb_low    bb_mid   bb_high       atr      macd
date       ticker
2015-11-30 A       3.545992  3.618440  3.690888 -1.033887  0.567157
           AAL     3.672028  3.749832  3.827636  0.190822 -0.418772
           AAPL    3.281679  3.324991  3.368302 -0.967900 -0.142790
           ABBV    3.726694  3.774943  3.823191 -0.526809  0.145676
           ABT     3.656055  3.677909  3.699763 -1.064842  0.335558
...                     ...       ...       ...       ...       ...
2023-09-30 OTIS    4.370137  4.415425  4.460712 -1.028320 -1.534536
           ABNB    4.857047  4.940924  5.024801 -1.006939 -0.037854
           CEG     4.653660  4.693834  4.734007 -0.436215  0.366876
           GEHC    4.155436  4.212972  4.270508 -0.893478 -1.116462
           KVUE    3.014275  3.089221  3.164168 -0.899746 -1.435619

[46692 rows x 9 columns]

In [10]:
data['dollar_volume'] = (data.loc[:, 'dollar_volume'].unstack('ticker').rolling(5*12, min_periods=12).mean().stack())

data['dollar_vol_rank'] = (data.groupby('date')['dollar_volume'].rank(ascending=False))

data = data[data['dollar_vol_rank']<150].drop(['dollar_volume', 'dollar_vol_rank'], axis=1)

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2016-10-31 AAL      39.134331         -0.000176  62.203566  3.604673
           AAPL     26.212477         -0.002468  49.891111  3.294237
           ABBV     40.245125         -0.046691  27.477783  3.753446
           ABT      34.293453         -0.007492  38.008774  3.554632
           ACN     103.569626         -0.004643  53.823664  4.637342
...                       ...               ...        ...       ...
2023-09-30 WMT      53.597534         -0.000041  54.722485  3.984976
           XOM     113.372093         -0.000065  59.440176  4.687091
           MRNA     98.120003          0.000146  38.747314  4.582514
           UBER     44.270000          0.000441  45.005268  3.806654
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd
date       ticker
2016-10-31 AAL     3.655494  3.706314  0.402199  1.131596
           AAPL    3.323117  3.351997 -1.038688 -0.195978
           ABBV    3.807610  3.861774 -0.893132 -0.760593
           ABT     3.605106  3.655580 -1.035224 -0.650888
           ACN     4.648980  4.660617 -0.996806 -0.135456
...                     ...       ...       ...       ...
2023-09-30 WMT     4.002446  4.019915 -0.196381  0.399458
           XOM     4.727187  4.767283  0.601335  1.400623
           MRNA    4.685332  4.788149 -0.529511 -0.376899
           UBER    3.862227  3.917801 -0.746098 -0.133973
           ABNB    4.940924  5.024801 -1.006939 -0.037854

[12516 rows x 8 columns]

In [11]:
def calculate_returns(df):

    outlier_cutoff = 0.005

    lags = [1, 2, 3, 6, 9, 12]

    for lag in lags:

        df[f'return_{lag}m'] = (df['adj close']
                              .pct_change(lag)
                              .pipe(lambda x: x.clip(lower=x.quantile(outlier_cutoff),
                                                     upper=x.quantile(1-outlier_cutoff)))
                              .add(1)
                              .pow(1/lag)
                              .sub(1))
    return df
    
    
data = data.groupby(level=1, group_keys=False).apply(calculate_returns).dropna()

data

                    adj close  garman_klass_vol        rsi    bb_low  \
date       ticker
2017-10-31 AAL      45.534164         -0.000363  41.051775  3.849110
           AAPL     39.713905         -0.001055  69.196729  3.594730
           ABBV     67.491142         -0.034008  55.247849  4.196702
           ABT      48.493370         -0.005190  53.844885  3.892568
           ACN     129.399704         -0.003925  69.365326  4.802675
...                       ...               ...        ...       ...
2023-09-30 WMT      53.597534         -0.000041  54.722485  3.984976
           XOM     113.372093         -0.000065  59.440176  4.687091
           MRNA     98.120003          0.000146  38.747314  4.582514
           UBER     44.270000          0.000441  45.005268  3.806654
           ABNB    132.279999          0.000213  44.494127  4.857047

                     bb_mid   bb_high       atr      macd  return_1m  \
date       ticker
2017-10-31 AAL     3.921750  3.994389  1.011062 -0.018698  -0.014108
           AAPL    3.641603  3.688475 -0.906642 -0.039275   0.096808
           ABBV    4.243063  4.289423  0.375557  0.473814   0.022728
           ABT     3.916137  3.939707 -1.040044  0.276133   0.021276
           ACN     4.842354  4.882034 -0.986514  0.352343   0.064180
...                     ...       ...       ...       ...        ...
2023-09-30 WMT     4.002446  4.019915 -0.196381  0.399458  -0.000677
           XOM     4.727187  4.767283  0.601335  1.400623   0.046947
           MRNA    4.685332  4.788149 -0.529511 -0.376899  -0.132219
           UBER    3.862227  3.917801 -0.746098 -0.133973  -0.062672
           ABNB    4.940924  5.024801 -1.006939 -0.037854   0.005549

                   return_2m  return_3m  return_6m  return_9m  return_12m
date       ticker
2017-10-31 AAL      0.022981  -0.023860   0.016495   0.007008    0.012702
           AAPL     0.015250   0.044955   0.028875   0.038941    0.035228
           ABBV     0.098590   0.091379   0.056495   0.047273    0.044026
           ABT      0.034308   0.034801   0.038672   0.031320    0.029294
           ACN      0.048454   0.037203   0.028692   0.027398    0.018728
...                      ...        ...        ...        ...         ...
2023-09-30 WMT      0.010014   0.012354   0.017574   0.016553    0.020256
           XOM      0.046139   0.030496   0.012838   0.008747    0.027037
           MRNA    -0.086803  -0.068763  -0.071952  -0.064976   -0.015431
           UBER    -0.053920   0.008422   0.057244   0.066838    0.043691
           ABNB    -0.067704   0.010603   0.010289   0.049124    0.019401

[10345 rows x 14 columns]