In [23]:
!pip install pandas pandas-ta numpy matplotlib statsmodels pandas_datareader datetime yfinance scikit-learn PyPortfolioOpt requests requests_cache requests_ratelimiter pyrate_limiter

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: pandas-ta in /opt/conda/lib/python3.11/site-packages (0.3.14b0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.11/site-packages (3.8.4)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.11/site-packages (0.14.2)
Requirement already satisfied: pandas_datareader in /opt/conda/lib/python3.11/site-packages (0.10.0)
Requirement already satisfied: datetime in /opt/conda/lib/python3.11/site-packages (5.5)
Requirement already satisfied: yfinance in /opt/conda/lib/python3.11/site-packages (0.2.40)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.11/site-packages (1.4.2)
Requirement already satisfied: PyPortfolioOpt in /opt/conda/lib/python3.11/site-packages (1.5.5)
Requirement already satisfied: requests in /opt/conda/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: requests_cache in /opt/conda/lib/python3.11/site-packages (1.2.0)
Collecting requests_ratelimiter
  Downloading requests_ratelimiter-0.6.0-py3-none-any.whl.metadata (11 kB)
Collecting pyrate_limiter
  Downloading pyrate_limiter-3.6.1-py3-none-any.whl.metadata (24 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.11/site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (1.13.0)
Requirement already satisfied: patsy>=0.5.6 in /opt/conda/lib/python3.11/site-packages (from statsmodels) (0.5.6)
Requirement already satisfied: lxml in /opt/conda/lib/python3.11/site-packages (from pandas_datareader) (5.2.2)
Requirement already satisfied: zope.interface in /opt/conda/lib/python3.11/site-packages (from datetime) (6.4.post2)
Requirement already satisfied: multitasking>=0.0.7 in /opt/conda/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.2.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/conda/lib/python3.11/site-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /opt/conda/lib/python3.11/site-packages (from yfinance) (3.17.5)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /opt/conda/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: cvxpy<2.0.0,>=1.1.19 in /opt/conda/lib/python3.11/site-packages (from PyPortfolioOpt) (1.5.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/conda/lib/python3.11/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.11/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.11/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.11/site-packages (from requests) (2024.2.2)
Requirement already satisfied: attrs>=21.2 in /opt/conda/lib/python3.11/site-packages (from requests_cache) (23.2.0)
Requirement already satisfied: cattrs>=22.2 in /opt/conda/lib/python3.11/site-packages (from requests_cache) (23.2.3)
Requirement already satisfied: url-normalize>=1.4 in /opt/conda/lib/python3.11/site-packages (from requests_cache) (1.4.3)
  Downloading pyrate_limiter-2.10.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: osqp>=0.6.2 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.6.7)
Requirement already satisfied: ecos>=2 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (2.0.13)
Requirement already satisfied: clarabel>=0.5.0 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.8.1)
Requirement already satisfied: scs>=3.2.4.post1 in /opt/conda/lib/python3.11/site-packages (from cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (3.2.4.post1)
Requirement already satisfied: six>=1.9 in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /opt/conda/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.11/site-packages (from zope.interface->datetime) (69.5.1)
Requirement already satisfied: qdldl in /opt/conda/lib/python3.11/site-packages (from osqp>=0.6.2->cvxpy<2.0.0,>=1.1.19->PyPortfolioOpt) (0.1.7.post2)
Downloading requests_ratelimiter-0.6.0-py3-none-any.whl (9.1 kB)
Downloading pyrate_limiter-2.10.0-py3-none-any.whl (16 kB)
Installing collected packages: pyrate_limiter, requests_ratelimiter
Successfully installed pyrate_limiter-2.10.0 requests_ratelimiter-0.6.0

In [27]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
from requests import Session
from requests_cache import CacheMixin, SQLiteCache
from requests_ratelimiter import LimiterMixin, MemoryQueueBucket
from pyrate_limiter import Duration, RequestRate, Limiter

warnings.filterwarnings('ignore')

class CachedLimiterSession(CacheMixin, LimiterMixin, Session):
    pass

session = CachedLimiterSession(
    limiter=Limiter(RequestRate(2, Duration.SECOND*5)),  # max 2 requests per 5 seconds
    bucket_class=MemoryQueueBucket,
    backend=SQLiteCache("yfinance.cache"),
)
session.headers['User-agent'] = 'my-program/1.0'
session

In [34]:
ticker = yf.Ticker('spy', session=session)
# The scraped response will be stored in the cache
# ticker.actions

df = yf.download("SPY LLY", period="5y")

[*********************100%%**********************]  2 of 2 completed

In [30]:
hist = ticker.history(period="10y")

hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2014-05-27 00:00:00-04:00,159.670698,160.105271,159.578769,160.055130,72010000,0.0,0.0,0.0
2014-05-28 00:00:00-04:00,160.055048,160.305763,159.670616,159.938049,66723000,0.0,0.0,0.0
2014-05-29 00:00:00-04:00,160.305812,160.790512,159.896310,160.765442,64377000,0.0,0.0,0.0
2014-05-30 00:00:00-04:00,160.615047,161.124830,160.481330,161.024536,76316000,0.0,0.0,0.0
2014-06-02 00:00:00-04:00,161.250162,161.283598,160.431170,161.208374,64656000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2024-05-20 00:00:00-04:00,529.570007,531.559998,529.169983,530.059998,37764200,0.0,0.0,0.0
2024-05-21 00:00:00-04:00,529.280029,531.520020,529.070007,531.359985,33437000,0.0,0.0,0.0
2024-05-22 00:00:00-04:00,530.650024,531.380005,527.599976,529.830017,48390000,0.0,0.0,0.0
2024-05-23 00:00:00-04:00,532.960022,533.070007,524.719971,525.960022,57211200,0.0,0.0,0.0
2024-05-24 00:00:00-04:00,527.849976,530.270020,526.880005,529.440002,41258400,0.0,0.0,0.0

In [33]:
hist['3-day Change'] = hist['Close'].pct_change(periods=3) * 100

drop_days = hist[hist['3-day Change'] < -1]

drop_days

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,3-day Change
Date,,,,,,,,,
2014-06-12 00:00:00-04:00,162.704237,162.796166,161.383815,161.743164,106350000,0.0,0.0,0.0,-1.043081
2014-07-31 00:00:00-04:00,164.256433,164.399183,162.039589,162.140350,183479000,0.0,0.0,0.0,-2.381208
2014-08-01 00:00:00-04:00,161.695324,162.702978,160.864015,161.644943,189261000,0.0,0.0,0.0,-2.259455
2014-08-04 00:00:00-04:00,161.955592,163.156389,161.267033,162.812103,91340000,0.0,0.0,0.0,-1.568721
2014-08-07 00:00:00-04:00,162.014425,162.173973,160.007509,160.410568,135733000,0.0,0.0,0.0,-1.475035
...,...,...,...,...,...,...,...,...,...
2024-04-15 00:00:00-04:00,515.130005,515.299988,503.579987,504.450012,92101400,0.0,0.0,0.0,-1.880881
2024-04-16 00:00:00-04:00,504.940002,506.500000,502.209991,503.529999,73484000,0.0,0.0,0.0,-2.793437
2024-04-17 00:00:00-04:00,506.049988,506.220001,499.119995,500.549988,75910300,0.0,0.0,0.0,-2.016251
2024-04-19 00:00:00-04:00,499.440002,500.459991,493.859985,495.160004,102129100,0.0,0.0,0.0,-1.662263
2024-05-01 00:00:00-04:00,501.380005,508.190002,499.869995,500.350006,80242800,0.0,0.0,0.0,-1.556291

In [17]:
# end_date = '2024-05-23'
# # print(symbols_list)
# symbols_list = ['SPY', 'QQQ']

# start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

# df = yf.download(tickers=symbols_list,
#                  start=start_date,
#                  end=end_date).stack()


# df.index.names = ['date', 'ticker']

# df.columns = df.columns.str.lower()

# df.set_index('Date', inplace=True)

# df.index.names = ['date', 'ticker']

# df['3daychange'] = df['Close'].pct_change(periods=3) * 100

# # drop_days = df[df['3daychange'] < -2]

# df

[*********************100%%**********************]  2 of 2 completed

Price               Adj Close       Close        High         Low        Open  \
date       ticker
2016-05-25 QQQ     102.894539  109.239998  109.570000  108.680000  108.870003
           SPY     182.129211  209.279999  209.770004  207.869995  208.669998
2016-05-26 QQQ     103.195969  109.559998  109.699997  109.089996  109.349998
           SPY     182.181473  209.339996  209.710007  208.970001  209.440002
2016-05-27 QQQ     103.732841  110.129997  110.139999  109.610001  109.629997
...                       ...         ...         ...         ...         ...
2024-05-20 SPY     530.059998  530.059998  531.559998  529.169983  529.570007
2024-05-21 QQQ     455.799988  455.799988  455.989990  452.839996  453.040009
           SPY     531.359985  531.359985  531.520020  529.070007  529.280029
2024-05-22 QQQ     455.709991  455.709991  456.820007  453.079987  456.059998
           SPY     529.830017  529.830017  531.380005  527.599976  530.650024

Price                Volume  3daychange
date       ticker
2016-05-25 QQQ     37951700         NaN
           SPY     76621400         NaN
2016-05-26 QQQ     21885900         NaN
           SPY     55280700   91.633102
2016-05-27 QQQ     19870000  -47.376721
...                     ...         ...
2024-05-20 SPY     37764200   17.332209
2024-05-21 QQQ     23167700  -13.910666
           SPY     33437000   16.805518
2024-05-22 QQQ     25120000  -14.026715
           SPY     48390000   16.241780

[4024 rows x 7 columns]

In [38]:
symbols_list = ['SPY', 'LLY', 'AMZN']

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date, session=session).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%%**********************]  3 of 3 completed

Price               adj close       close        high         low        open  \
date       ticker
2016-05-25 AMZN     35.417500   35.417500   35.542999   35.276001   35.400002
           LLY      64.313866   74.540001   75.500000   74.449997   75.489998
           SPY     182.129211  209.279999  209.770004  207.869995  208.669998
2016-05-26 AMZN     35.745499   35.745499   35.750000   35.364498   35.416500
           LLY      65.159447   75.519997   75.599998   74.269997   74.599998
...                       ...         ...         ...         ...         ...
2024-05-21 LLY     803.169983  803.169983  816.609985  791.390015  792.460022
           SPY     531.359985  531.359985  531.520020  529.070007  529.280029
2024-05-22 AMZN    183.130005  183.130005  185.220001  181.970001  183.880005
           LLY     802.909973  802.909973  804.880005  795.250000  801.000000
           SPY     529.830017  529.830017  531.380005  527.599976  530.650024

Price                volume
date       ticker
2016-05-25 AMZN    65354000
           LLY      4621700
           SPY     76621400
2016-05-26 AMZN    48934000
           LLY      2654600
...                     ...
2024-05-21 LLY      4334500
           SPY     33437000
2024-05-22 AMZN    28148800
           LLY      1767500
           SPY     48390000

[6036 rows x 6 columns]

In [54]:
df['rsi'] = df.groupby(level=1)['adj close'].transform(lambda x: pandas_ta.rsi(close=x, length=20))

def compute_macd(close):
    macd = pandas_ta.macd(close=close, length=20).iloc[:,0]
    return macd.sub(macd.mean()).div(macd.std())

df['macd'] = df.groupby(level=1, group_keys=False)['adj close'].apply(compute_macd)

df['dollar_volume'] = (df['adj close']*df['volume'])/1e6

df

Price               adj close       close        high         low        open  \
date       ticker
2016-05-25 AMZN     35.417500   35.417500   35.542999   35.276001   35.400002
           LLY      64.313866   74.540001   75.500000   74.449997   75.489998
           SPY     182.129211  209.279999  209.770004  207.869995  208.669998
2016-05-26 AMZN     35.745499   35.745499   35.750000   35.364498   35.416500
           LLY      65.159447   75.519997   75.599998   74.269997   74.599998
...                       ...         ...         ...         ...         ...
2024-05-21 LLY     803.169983  803.169983  816.609985  791.390015  792.460022
           SPY     531.359985  531.359985  531.520020  529.070007  529.280029
2024-05-22 AMZN    183.130005  183.130005  185.220001  181.970001  183.880005
           LLY     802.909973  802.909973  804.880005  795.250000  801.000000
           SPY     529.830017  529.830017  531.380005  527.599976  530.650024

Price                volume        rsi      macd  dollar_volume
date       ticker
2016-05-25 AMZN    65354000        NaN       NaN    2314.675265
           LLY      4621700        NaN       NaN     297.239393
           SPY     76621400        NaN       NaN   13954.995160
2016-05-26 AMZN    48934000        NaN       NaN    1749.170231
           LLY      2654600        NaN       NaN     172.972267
...                     ...        ...       ...            ...
2024-05-21 LLY      4334500  60.015516  1.048868    3481.340291
           SPY     33437000  65.885280  1.209717   17767.083830
2024-05-22 AMZN    28148800  51.438055  0.161655    5154.889881
           LLY      1767500  59.943123  1.341245    1419.143378
           SPY     48390000  63.954088  1.225348   25638.474527

[6036 rows x 9 columns]

In [74]:
spy = df.xs('SPY', level=1, drop_level=False)


spy['3daychange'] = spy['close'].pct_change(periods=3) * 100

spy[spy['3daychange'] < -1]

,Price,adj close,close,high,low,open,volume,rsi,macd,dollar_volume,3daychange
date,ticker,,,,,,,,,,
2016-06-13,SPY,181.406906,208.449997,210.369995,208.350006,209.360001,117751200,NaN,NaN,21360.880885,-1.845834
2016-06-14,SPY,181.050140,208.039993,208.740005,206.919998,208.000000,125059300,NaN,NaN,22642.003821,-1.904946
2016-06-15,SPY,180.797775,207.750000,209.360001,207.529999,208.039993,109124500,NaN,NaN,19729.466827,-1.104397
2016-06-24,SPY,177.792618,203.240005,210.850006,202.720001,203.630005,333444400,35.552493,NaN,59283.952766,-2.494721
2016-06-27,SPY,174.608429,199.600006,201.600006,198.649994,201.589996,230775800,29.387883,NaN,40295.399879,-4.084575
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,SPY,504.450012,504.450012,515.299988,503.579987,515.130005,92101400,44.820312,-0.091312,46460.552354,-1.880881
2024-04-16,SPY,503.529999,503.529999,506.500000,502.209991,504.940002,73484000,44.131039,-0.350318,37001.398430,-2.793437
2024-04-17,SPY,500.549988,500.549988,506.220001,499.119995,506.049988,75910300,41.932341,-0.616858,37996.899738,-2.016251
2024-04-19,SPY,495.160004,495.160004,500.459991,493.859985,499.440002,102129100,38.158643,-1.110255,50570.245530,-1.662263
2024-05-01,SPY,500.350006,500.350006,508.190002,499.869995,501.380005,80242800,44.410031,-0.976294,40149.485470,-1.556291